table,td,th,tr{
    border: 2px solid black;
border-collapse: collapse;
}
table{
    width: 50%;
    text-align: center;
   
}
.l{
background-color: rgb(247, 0, 0);
color: bisque;
}
.uam{
    background-color: rgb(45, 0, 247);
}